<h3>Введенные значения</h3>

<% @numbers.each_index do |x| %>
  <div class="row">
    <div class="col-4">
      <%= x + 1 %>-ый элемент:
    </div>
    <div class="col-4">
      <%= @numbers[x] %>
    </div>
  </div>
<% end %>

<br>

<h3>Все полученные последовательности</h3>

<% @result.each_index do |x| %>
  <div class="row">
    <div class="col-12">
      <h4><%= x + 1 %>-ая последовательность</h4>
    </div>
  </div>
  <% @result[x].each_index do |y| %>
    <div class="row">
      <div class="col-4">
        <%= y + 1 %>-ый элемент:
      </div>
      <div class="col-4">
        <%= @result[x][y] %>
      </div>
    </div>
  <% end %>
  <br>
<% end %>

<h3>Наибольшая последовательность</h3>

<% @max_result.each_index do |x| %>
  <div class="row">
    <div class="col-4">
      <%= x + 1 %>-ый элемент:
    </div>
    <div class="col-4">
      <%= @max_result[x] %>
    </div>
  </div>
<% end %>
